In [50]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv("hr_raw_data_v2.csv", index_col=0)

In [52]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

In [53]:
mycursor.execute("CREATE DATABASE ABC_Corporation")

In [54]:
mycursor.execute("USE ABC_Corporation")

In [55]:
cnx.close()

In [56]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', 
host='127.0.0.1', 
database='abc_corporation', 
auth_plugin ='mysql_native_password')

In [57]:
mycursor = cnx.cursor()

In [58]:
query = """INSERT INTO EmployeeInfo ('employee_number', 'gender', 'birth_year', 'age', 'marital_status',
       'dist_home', 'job_title', 'department', 'departured', 'year_at_comp',
       'standard_hours', 'remote', 'business_travel', 'over_time', 'job_level',
       'stock_opt_level', 'traning_times_last_year', 'perf_rate',
       'year_last_promotion', 'year_current_mngr', 'education_field',
       'education_scale', 'annual_salary', 'monthly_income', 'daily_rate',
       'perc_salary_hike', 'env_sat_rate', 'job_involvement', 'job_sat_rate',
       'relationship_sat_rate', 'work_life_balance', 'num_comp_worked',
       'tot_working_year') VALUES ('%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [59]:
lista_de_tuplas = [tuple(row) for row in df.to_records(index=False)]

In [60]:
mycursor.execute("""CREATE TABLE EmployeeInfo(
  employee_number BIGINT NOT NULL,
  gender ENUM('M', 'F') NULL,
  birth_year BIGINT NULL,
  age FLOAT NULL,
  marital_status ENUM('Single', 'Divorced', 'Married', 'Unknown') NULL,
  dist_home BIGINT NULL,
  job_title VARCHAR(50) NULL,
  department VARCHAR(50) NULL,
  departured ENUM('Yes', 'No') NULL,
  year_at_comp BIGINT NULL,
  standard_hours VARCHAR(45) NULL,
  remote ENUM('Yes', 'No') NULL,
  business_travel ENUM('Unknown', 'travel_rarely', 'travel_frequently', 'non-travel') NULL,
  over_time ENUM('Yes', 'No', 'Unknown') NULL,
  job_level BIGINT NULL,
  stock_opt_level BIGINT NULL,
  traning_times_last_year BIGINT NULL,
  perf_rate FLOAT NULL,
  year_last_promotion BIGINT NULL,
  year_current_mngr BIGINT NULL,
  education_field VARCHAR(45) NULL,
  education_scale BIGINT NULL,
  annual_salary FLOAT NOT NULL,
  monthly_income FLOAT NULL,
  daily_rate FLOAT NULL,
  perc_salary_hike BIGINT NULL,
  env_sat_rate BIGINT NULL,
  job_involvement BIGINT NULL,
  job_sat_rate BIGINT NULL,
  relationship_sat_rate BIGINT NULL,
  work_life_balance FLOAT NULL,
  num_comp_worked BIGINT NULL,
  tot_working_year FLOAT NULL,
PRIMARY KEY (employee_number))""");

In [61]:
mycursor.executemany(query, lista_de_tuplas) 
cnx.commit()
print("Datos insertados correctamente ✅.")
print(mycursor.rowcount, "registros insertados")

InterfaceError: Failed executing the operation; Python type numpy.int64 cannot be converted