In [1]:
import mysql.connector
from mysql.connector import errorcode

In [2]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

In [3]:
mycursor.execute("CREATE DATABASE ABC_Corporation")

In [4]:
mycursor.execute("USE ABC_Corporation")

In [6]:

mycursor.execute("""CREATE TABLE EmployeeInfo(
  employee_number INT NOT NULL,
  gender ENUM('M', 'F') NULL,
  birth_year DATE NULL,
  age FLOAT NULL,
  marital_status ENUM('Single', 'Divorced', 'Married', 'Unknown') NULL,
  dist_home INT NULL,
  job_title VARCHAR(50) NULL,
  department VARCHAR(50) NULL,
  emp_terminated ENUM('Yes', 'No') NULL,
  year_at_comp INT NULL,
  standard_hours VARCHAR(45) NULL,
  remote ENUM('Yes', 'No') NULL,
  business_travel ENUM('Unknown', 'travel_rarely', 'travel_frequently', 'non-travel') NULL,
  over_time ENUM('Yes', 'No', 'Unknown') NULL,
  job_level INT NULL,
  stock_opt_level INT NULL,
  traning_times_last_year INT NULL,
  perf_rate VARCHAR(45) NULL,
  year_last_promotion INT NULL,
  year_current_mngr INT NULL,
  education_field VARCHAR(45) NULL,
  education_scale INT NULL,
  annual_salary FLOAT NOT NULL,
  monthly_income FLOAT NULL,
  daily_rate FLOAT NULL,
  monthly_rate VARCHAR(45) NULL,
  perc_salary_hike INT NULL,
  env_sat_rate INT NULL,
  job_involvement INT NULL,
  job_sat_rate INT NULL,
  relationship_sat_rate INT NULL,
  work_life_balance FLOAT NULL,
  num_comp_worked INT NULL,
  tot_working_year FLOAT NULL,
PRIMARY KEY (employee_number))""");